{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Edit  team member</h1>
        <p>Edit contact info, location and role.</p>

        <h3>Info</h3>
        <form action = {% url 'EditPage'  %} method="post" >
            {% csrf_token %} 
            <div>
                <input type="text" placeholder="First Name" name="fname" value={{team_list.fname}}>
            </div>
            <div>
                <input type="text" placeholder="Last Name" name="lname" value={{team_list.lname}}>
            </div>
            <div>
                <input type="number" placeholder="Phone Number" name="pno" value={{team_list.pno}}>
            </div>
            <div>
                <input type="email" placeholder="Email" name="email" value={{team_list.email}}>
            </div>
                <input type="hidden" name="id" value={{team_list.id}}>
            <div>
                <div class="role">Role</div> 
                {% if team_list.role == 1 %} 
                <label>Regular - can't delete members</label>
                <input type="radio" name="role" value="0"><br>
                <label>Admin - can delete members</label>
                <input type="radio" name="role" value="1" checked="true">
                {% else %}
                <label>Regular - can't delete members</label>
                <input type="radio" name="role" value="0" checked="true"><br>
                <label>Admin - can delete members</label>
                <input type="radio" name="role" value="1">
                {% endif %}
            </div><br>
            <input type="button" value="Delete" onclick="location.href='/myApp/DelRec/?id='+'{{id}}';">
            <input type="submit" value="Save">
        </form>
    </body>
</html>